
.redo

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

### Node ###
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

components

public/css/simplex.css
public/js/component.js

workspace
config.yaml
test/*.json

server.js
server.map
worker.js
worker.map

lib/*.js
lib/models/*.js
lib/routes/*.js
lib/jobs/*.js
lib/*.map
lib/models/*.map
lib/routes/*.map
lib/jobs/*.map

