doctype 5
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='//yui.yahooapis.com/pure/0.2.0/pure-min.css')
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css')
    link(rel='stylesheet', href='/css/simpleci.css')
    script(type='text/javascript', src='//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js')
    script(type='text/javascript', src='/js/simpleci.js')
    script(type='text/javascript')
      $(document).ready(function(){
        var App = require('app')
        var app = new App.app()
        Backbone.history.start({pushState: false})
        if(!Backbone.history.fragment){
          app.dashboard()
        }
      });
  body
    block content
    block scripts

