.header
  h3 Dashboard

table#builds.pure-table.pure-table-horizontal.pure-table-stripted.pure-u-1
  thead.pure-u-1
    tr.pure-u-1
      th.pure-u-1-12 #
      th.pure-u-1-6 Project
      th.pure-u-1-12 Commit
      th.pure-u-1-8 Author
      th.pure-u-1-6 Started At
      th.pure-u-1-6 Completed At
      th.pure-u-1-12 Status
  tbody
